In [27]:
import pandas as pd
from sklearn.cross_validation import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix

In [9]:
data  = pd.read_csv('file/train.csv')

In [21]:
# Training set
mnist_y_train = data['label'].iloc[1:1000]
mnist_x_train = data.loc[:,'pixel0':'pixel783'].iloc[1:1000]
# Test set
mnist_y_test = data['label'].iloc[1001:1200]
mnist_x_test = data.loc[:,'pixel0':'pixel783'].iloc[1001:1200]

In [28]:
# Numbers 0 to 9. Hence 10 classes to be predicted
neigh = KNeighborsClassifier(n_neighbors=10)
neigh.fit(mnist_x_train, mnist_y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=10, p=2,
           weights='uniform')

In [23]:
mnist_y_pred = neigh.predict(mnist_x_test)

In [24]:
# print(neigh.predict(mnist_x_test))
mnist_y_pred = neigh.predict(mnist_x_test)

In [26]:
pd.DataFrame(confusion_matrix(mnist_y_test, mnist_y_pred))

    0   1   2   3   4   5   6   7   8   9
0  12   0   0   0   0   0   1   0   0   0
1   0  19   0   0   0   0   0   0   0   0
2   0   4  20   0   0   0   0   1   1   0
3   0   1   1  12   0   0   0   0   0   2
4   0   0   0   0  18   0   0   0   0   3
5   0   1   0   0   0  19   0   0   0   1
6   0   0   0   0   0   0  18   0   0   0
7   0   2   0   0   0   0   0  19   0   1
8   0   2   0   4   1   1   0   0  16   1
9   0   1   0   0   1   0   0   2   0  14